@{
    ViewData["Title"] = "Nicolas Lewentorp CV Page";
}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="nicolaslewentorp"><a class="LI-simple-link" href='https://se.linkedin.com/in/nicolaslewentorp?trk=profile-badge'>Nicolas Lewentorp</a></div>
    <p><br /><br />You can find my Dev blog at <a href="http://www.crepro.com/portfolio/">NewbieOne Can Codie</a>.</p>
</div>

