
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Lexicon C# & .NET Assignments & Projects</h1>

<div class="container text-center">
    <p>Assignment 1 - Calculator</p>
    <p>Assignment 2 - Arena Fighter</p>
    <p>Assignment 3 - Golf</p>
    <p>Assignment 4 - Vending Machine</p>
    <p>Assignment 5 - HTML</p>
    <p>Assignment 6 - CSS</p>
    <p>Assignment 7 - Bootstrap</p>
    <p>Assignment 8.1 - 8.5 - JavaScript</p>
    <p>Assignment 9 - MVC 1 - Layout and Views</p>
    <p>Assignment 9 - MVC 2</p>
    <p>Assignment 9 - MVC 3</p>

</div>

